<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>prosm</title>
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
  <div class="row">
    <div class="small-12 columns">
      <h1>ProseMirror</h1>

      <p>Try out the ProseMirror text editor and check the html output</p>
    </div>
  </div>

<!-- ProseMirror -->
  <div id="prose"></div>
  <div id="prosecontent" style="visibility: hidden;"></div>
<!-- End -->

  <div id="prosehtml">
    <h2 class="title">HTML:</h2>
    <p class="content"></p>
  </div>
  <script src="js/bundle.js"></script>
</body>

</html>